Package: com.lqr.priority-hub2
Name: Priority-Hub2
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Jennifer Stears
Author: Jennifer Stears
Section: Tweaks
Version: 0.0.1-5
Installed-Size: 268
