Package: com.lqr.priorityhub2
Name: Priority Hub 2
Depends: mobilesubstrate, preferenceloader
Conflicts: gsc.ipad
Version: 0.5-alpha
Architecture: iphoneos-arm
Description: Organize lockscreen notifications
Maintainer: Jennifer Stears
Author: Thomas Finch
Section: Tweaks
