entry = {
  icon = PriorityHub.png;
  label = ClassicSwitcher;
  cell = PSLinkCell;
};
title = "Priority Hub";
items = (
  {
    cell = PSGroupCell;
  },
  {
    cell = PSSwitchCell;
    default = 1;
    defaults = "com.lqr.priorityhub2";
    key = showNumbers;
    PostNotification = com.lqr.priorityhub2-prefschanged;
    label = "Show Numbers";
  },
  {
  cell = PSSwitchCell;
  default = 1;
  defaults = "com.lqr.priorityhub2";
  key = colorizeSelected;
  PostNotification = com.lqr.priorityhub2-prefschanged;
  label = "Colorize Selected Background";
  },
  {
  cell = PSSwitchCell;
  default = 0;
  defaults = "com.lqr.priorityhub2";
  key = privacyModeEnabled;
  PostNotification = com.lqr.priorityhub2-prefschanged;
  label = "Privacy Mode";
  },
  {
    cell = PSSwitchCell;
    default = 0;
    defaults = "com.lqr.priorityhub2";
    key = showSeparators;
    PostNotification = com.lqr.priorityhub2-prefschanged;
    label = "Show Notification Separators";
  },
  {
    cell = PSLinkListCell;
    detail = PSListItemsController;
    default = 0;
    defaults = "com.lqr.priorityhub2";
    key = iconLocation;
    PostNotification = com.lqr.priorityhub2-prefschanged;
    label = "Icon Location";
    validValues = (
      0,
      1
    );
    validTitles = (
      "Top",
      "Bottom"
    );
  },
  {
    cell = PSGroupCell;
  },
  {
    cell = PSButtonCell;
    action = TFTwitterButtonTapped;
    icon = "Twitter.png";
    label = "Original by @tomf64";
  },
  {
    cell = PSButtonCell;
    action = JGTwitterButtonTapped;
    icon = "Twitter.png";
    label = "Icon by @JeremyGoulet";
  },
    {
    cell = PSButtonCell;
    action = RATwitterButtonTapped;
    icon = "Twitter.png";
    label = "Forked by @pixie_ryn";
  },
  {
    cell = PSGroupCell;
    footerText = "© 2014 Ryn Inaba";
  }
);
